{%- liquid
  if cart == empty
    render 'icon-cart-empty'
  else
    render 'icon-cart'
  endif
-%}
<span class="cart-icon-text">{{ 'templates.cart.cart' | t }}</span>
<div class="cart-count-bubble {% if cart == empty %} cart-count-empty{% endif %}">
  {%- if cart.item_count < 100 -%}
    <span aria-hidden="true" {%- if cart.item_count > 9 -%}style="margin-left: 8px"{%- endif -%}>{{ cart.item_count }}</span>
  {%- endif -%}
  <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
</div>
