body.modal_show {
 overflow: hidden;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal.show {
  opacity: 1;
  z-index: 99;
}
.modal-content {
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #fff;
  width: 60%;
  max-width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  overflow-y: scroll;
  max-height: 100%;
  cursor: auto;
  -ms-overflow-style: none;
}
.modal-content::-webkit-scrollbar {
  width: 0;
}
.close {
  position: absolute;
  z-index: 9;
  top: 25px;
  right: 25px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  line-height: 1;
}
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal_message {
  width: 100%;
  padding: 40px 20px;
}
.modal .product {
  width: 100%;
  text-align: left;
  align-items: center;
}
.modal .product__info-wrapper {
  padding: 5rem;
}
.modal .product__title {
  margin-top: 0;
}
.modal .show_more {
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  .modal .product__media-list .product__media-item {
    width: 100%;
  }
  .modal .product {
    padding: 50px 20px;
  }
  .modal  .close {
    top: 15px;
    right: 15px;
  }
  .modal  .product__media-list {
    margin: 0;
    width: 100%;
  }
  .modal .product__info-wrapper {
    padding: 20px 0;
  }
}
